/* 顶部区域 */
.layui-footer {
    text-align: center;
    font-size: 12px;
}

/* 阿里妈妈图库 */
.iconfont {
    margin-right: 10px;
}

/* layui 字体图标 */
.layui-icon {
    margin-left: 20px;
    margin-right: 8px;
}

/* 超出部分隐藏 */
.layui-body {
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

a {
    transform: none !important;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
    color: #fff;
}


.layui-side-scroll .userinfo {
    border-bottom: 1px solid #000;
}


.layui-nav-img {
    width: 40px;
    height: 40px;


}

.text-avatat {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #009688;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
}